$xl: 1300px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 425px;

$black: #000;
$black-800: #2D3748;
$black-600: #718096;
$black-700: #4a5568;
$purple: #6b46c1;
$white: #fff;
$gray-light: #fbfbfb;
$gray-bold:#e8e8e8;
$gray: #f7fafc;
$orange: #ff4b33;


%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}